
#if ($addressbook.getContacts())

#foreach ($contact in $addressbook.getContacts())
  <li><a href="/contact/$contact.getId()">$contact.getName()</a></li>
#end
</ul>
#else
<h1> Contact not found </h1>
#end
<a href="/addressbooks/$addressbook.getId()/contacts/new">Add a new contact</a>


<a href="/contacts">All contacts</a>
